.bids-container {
	margin: 10px 0;
	.bids {
		margin: 10px 0;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
		gap: 6px;
		.bid {
			padding: 10px;
			background-color: rgb(199, 199, 199);
			border-radius: 4px;
			h6:nth-child(1) {
				font-weight: 500;
			}
			h6:nth-child(2) {
				color: rgb(196, 35, 35);
			}
		}
	}
}
