.detail {
	max-width: 650px;
	margin: 0 auto;
	padding: 20px 15px;
	h1 {
		text-align: center;
		color: rgb(55, 55, 165);
		margin-top: 20px;
		font-weight: 600;
	}
	.listing-detail {
		margin-top: 20px;
		h2 {
			font-weight: 500;
		}
		p {
			margin: 10px 0;
		}
		h6 {
			color: rgb(196, 35, 35);
			font-size: bold;
			font-size: 18px;
		}
	}
	h2 {
		font-size: 15px;
		font-weight: 500;
	}
	.comments {
		.comment {
			padding: 10px;
			p {
				font-size: 13px;
			}
			background-color: rgb(199, 199, 199);
			border-radius: 4px;
			margin: 10px 0;
		}
	}
	.add-comment {
		display: flex;
		input {
			flex: 1;
			padding: 8px 10px;
			font-size: 14px;
			border: 2px solid rgb(95, 95, 95);
			border-radius: 4px;
			margin: 5px;
			margin-left: 0;
			width: 100%;

			&:focus {
				border-color: rgb(55, 55, 165);
			}
		}
		button {
			border-radius: 4px;
			margin: 5px 0;
			padding: 8px 15px;
			text-transform: uppercase;
			border: 0;
			background-color: rgb(55, 55, 165);
			color: white;
			cursor: pointer;

			&:hover {
				background-color: rgb(63, 63, 224);
			}
		}
	}
}
